/* Structure styles */
.jumbotron {
    max-width: 760px;
    float: none;
    margin: auto;
    text-align: center;
    padding-top: 0;
    min-height: 650px;
}

.header.clearfix {
    max-width: 760px;
    float: none;
    margin: auto;
}

.footer {
    text-align: center;
	margin-top:20px;
}
h3.main-title {
    font-weight: bold;
    color: #337ab7;
    text-align: center;
}
.cat-title-container h2 {
    font-weight: bold;
    color: #F44336;
    margin: 0;
    padding: 30px 0;
}
/* Structure styles end */

.jumbotron img {margin-top: 20px;margin-bottom: 20px;cursor: pointer;max-width: 100%;}

.nav.nav-pills.pull-right {
    margin-top: 8px;
}

/* Cat styles */

h1.cat-title  {
    color: #2196F3;
    font-weight: bold;
}
.click-container span {
    font-size: 1.1em;
    font-weight: bold;
}
#catCount {
    color: #E91E63;
    font-weight: bold;
    font-size: 30px;
}
/* Cat styles end */

/* Cat menu styles */

ul.cat-menu {
    float: none;
    margin: auto;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    width: fit-content;
}

ul.cat-menu li {
    float: left;
    padding: 0 5px;
}

ul.cat-menu li button {
    font-weight: bold;
    padding: 10px 30px;
    transition: all ease 1s;
}


/* Cat menu styles end */

/* Cat responsive styles */
@media only screen and (max-width: 800px) and (min-width: 0px){

ul.cat-menu li button {
    width: 60px;
    padding: 0;
}

ul.cat-menu li {
    padding: 1px;
}}

/* Cat responsive styles end */