/* Structure styles */
.jumbotron {
    max-width: 760px;
    float: none;
    margin: auto;
    text-align: center;
    min-height: 650px;
}

.header.clearfix {
    max-width: 760px;
    float: none;
    margin: auto;
}

.footer {
    text-align: center;
	margin-top:20px;
}

/* Structure styles end */

.jumbotron img {margin-top: 20px;margin-bottom: 20px;cursor: pointer;max-width: 100%;}

.nav.nav-pills.pull-right {
    margin-top: 8px;
}

/* Cat styles */

#clicks {
    color: #2196F3;
}
#clicks2 {
	    color: #E91E63;
}#cat-title-1 {
    color: #4CAF50;
}

.cat-title h1 {
    font-weight: bold;
}

#cat-title-2 {
    color: #795548;
}
#cat-title-3 h1 {
    color: #3F51B5;
}
span#clicks3 {
    color: #4CAF50;
}

#cat-title-4 h1 {
    color: #00BCD4;
}

span#clicks4 {
    color: #795548;
}

.click-container span {
    font-size: 1.1em;
    font-weight: bold;
}

#cat-title-5 h1 {
    color: #009688;
}

span#clicks5 {
    color: #FF9800;
}

/* Cat styles end */

/* Cat menu styles */

ul.cat-menu {
    float: none;
    margin: auto;
    display: block;
    list-style-type: none;
    padding: 0;
    width: fit-content;
}

ul.cat-menu li {
    float: left;
    padding: 0 5px;
}

ul.cat-menu li button {
    font-weight: bold;
    padding: 10px 30px;
}

/* Cat menu styles end */