.jumbotron {
    max-width: 760px;
    float: none;
    margin: auto;
    text-align: center;
}

.header.clearfix {
    max-width: 760px;
    float: none;
    margin: auto;
}

footer.footer {
    text-align: center;
	margin-top:20px;
}

.jumbotron img {margin-top: 20px;margin-bottom: 20px;}